body {
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

#container {
    max-width: auto;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#header {
background-image: url(/images/fullrobot.jpg);
background-size: cover;
background-position: 90px;
filter: blur(1px);
    height: 150px;
}

#leftSidebar {
    background-color: #f8f9fa;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

#leftSidebar h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

#leftSidebar .box {
    background-color: #fff;
    border: 1px solid #007bff;
    padding: 10px;
}
